# Postgres
HD_PG_DB=hedgedoc
HD_PG_USER=hedgedoc
HD_PG_PASSWORD=create_a_strong_password_here

# HedgeDoc site
HD_DOMAIN=localhost          # e.g., notes.example.internal
HD_URL_ADDPORT=true          # set false if using reverse proxy on :443
HD_USE_SSL=false             # true only if HedgeDoc terminates TLS itself
HD_SESSION_SECRET=create_a_strong_password_here
HD_ALLOW_ANON=false
HD_ALLOW_ANON_EDITS=false

# Uploads directory mode (see HedgeDoc docs). Use 0755 if a host webserver must read files.
HD_UPLOADS_MODE=0700
