.env
*.env
**/.env
**/*.env

# Traefik
traefik/data/*.yml
traefik/data/*.yaml
traefik/data/config.yml
traefik/data/traefik.yml
traefik/data/acme.json
!traefik/data/*.example


# Private keys and certs
*.pem
*.key
id_rsa
id_ed25519
*.p12
*.pfx

# OS/editor cruft
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo